
// This DTS overlay sets up input and output pin for use by  
 // PRU1 via its Enhanced GPIO mode, which will let us access those pins  
 // by writing to R30 bits or reading from R31 bits.  
   
 // Save this file wherever you want (but I recommend /lib/firmware), as  
 // "PRU-GPIO-DTS-Qlan-v1-00A0.dts".
   
 // Compile with:
 // dtc -O dtb -I dts -o /lib/firmware/PRU-GPIO-DTS-Qlan-v1-00A0.dtbo -b 0 -@ PRU-GPIO-DTS-Qlan-v1-00A0.dts  
   
 // You'll have to reboot, after which you can do this as root to activate it:  
 // echo PRU-GPIO-DTS-Qlan-v1 > /sys/devices/bone_capemgr.?/slots  
 
 /dts-v1/;  
 /plugin/;  

 
 / {  
   // This determines which boards can use this DTS overlay  
   compatible = "ti,beaglebone", "ti,beaglebone-green", "ti,beaglebone-black";  
   
   // I think part-number is supposed to correspond with the filename,  
   // so we'd save this as "PRU-GPIO-DTS-Qlan-v1-00A0.dts".  
   part-number = "PRU-GPIO-DTS-Qlan-v1";  
   
   // This always seems to be 00A0, and all the .dtbo files in /lib/firmware  
   // seem to be named foo-00A0.dtbo, but then are loaded without that suffix.  So
   // for foo-00A0.dtbo we'd do 'echo foo > /sys/devices/bone_capemgr.?/slots'
   version = "00A0";
   
   // List the pins and resources we'll be using. This table:  
   // http://elinux.org/Ti_AM33XX_PRUSSv2#Beaglebone_PRU_connections_and_modes  
   // shows which pins can be used with PRU0 and PRU1 for input and output via  
   // registers R31 and R30.  
   // Our output pin, P8_41, 42, 39, 40, 27, 29, 28 and 30, corresponds to PRU 1, register 30, bits 4, 5, 6, 7, 8, 9, 10 and 11  
   // Our input pin, P8_45, 46, 43 and 44, corresponds to PRU 1, register 31, bits 0, 1, 2 , 3  
   //  
   // Beware: Many other PRU EGP pins are reserved by HDMI or onboard flash, which  
   // would need to be disabled first by editing uEnv.txt and rebooting.  
   exclusive-use = "P8.11", "P8.16", "P8.45", "P8.46", "P8.43", "P8.44", "P8.41", "P8.42", "P8.39", "P8.40", "P8.27", "P8.29", "P8.28", "P8.30", "pru0", "pru1";  
  
fragment@0{
  target = <&ocp>; 
__overlay__{   
gpio_pins: pinmux_gpio_pins {
	// The GPIO pins
	pinctrl-single,pins = <
		 0x0A0 0x27	// Mode 6 input pull-down 
		 0x0A4 0x27	// Mode 6 input pull-down
		 0x0A8 0x27	// Mode 6 input pull-down
		 0x0AC 0x27	// Mode 6 input pull-down
		 0x0B0 0x07	// Mode 5 output pull down
		 0x0B4 0x07	// Mode 5 output pull down
		 0x0B8 0x07	// Mode 5 output pull down
		 0x0BC 0x07	// Mode 5 output pull down
		 0x0E0 0x07	// Mode 5 output pull down
		 0x0E4 0x07	// Mode 5 output pull down
		 0x0E8 0x07	// Mode 5 output pull down
		 0x0EC 0x07	// Mode 5 output pull down
		>;
		};
	};
 };
 
 fragment@1 {  
    target = <&am33xx_pinmux>;  
    __overlay__ {  
      example_pins: pinmux_pru_pru_pins {  
   
       // The offset and mode for pins P8_11 and P8_16 also come from the table linked above.
       //  
       // That table gives offset 0x34 for P8_11, and 0x38 for P8_16.
       // It also shows us we want pinmux mode 6 for P8_11 in output mode,  
       // and again pinmux mode 6 for P8_16 in input mode.
       // 
       // Table 9-60 in the TRM: http://www.ti.com/lit/ug/spruh73l/spruh73l.pdf  
       // helps us calculate the rest of the configuration value.  
       //  
       // For P8_11, the other fields are all 0, so the value is just 0x06.  
       //  
       // For P8_16, we want it to be an input, so we also set bit 5, yielding  
       // a value of 0x26. We could also set bits 3 and 4 to enable a pullup  
       // or pulldown.  
       pinctrl-single,pins = <  
         0x34 0x06  
         0x38 0x26  
       >;  
      };  
    };  
   }; 
  
  // Free up the pins used by the cape from the pinmux helpers.
	
	fragment@2 {
		target = <&ocp>;
		__overlay__ {
			//P8_45_pinmux { status = "disabled"; };	/* lcd_data0 */
			//P8_46_pinmux { status = "disabled"; };	/* lcd_data1 */
			//P8_43_pinmux { status = "disabled"; };	/* lcd_data2 */
			//P8_44_pinmux { status = "disabled"; };	/* lcd_data3 */
			//P8_41_pinmux { status = "disabled"; };	/* lcd_data4 */
			//P8_42_pinmux { status = "disabled"; };	/* lcd_data5 */
			//P8_39_pinmux { status = "disabled"; };	/* lcd_data6 */
			//P8_40_pinmux { status = "disabled"; };	/* lcd_data7 */
			P8_37_pinmux { status = "disabled"; };	/* lcd_data8 */
			P8_38_pinmux { status = "disabled"; };	/* lcd_data9 */
			P8_36_pinmux { status = "disabled"; };	/* lcd_data10 */
			P8_34_pinmux { status = "disabled"; };	/* lcd_data11 */
			P8_35_pinmux { status = "disabled"; };	/* lcd_data12 */
			P8_33_pinmux { status = "disabled"; };	/* lcd_data13 */
			P8_31_pinmux { status = "disabled"; };	/* lcd_data14 */
			//P8_32_pinmux { status = "disabled"; };	/* lcd_data15 */
			//P8_27_pinmux { status = "disabled"; };	/* lcd_vsync */
			//P8_29_pinmux { status = "disabled"; };	/* lcd_hsync */
			//P8_28_pinmux { status = "disabled"; };	/* lcd_pclk */
			//P8_30_pinmux { status = "disabled"; };	/* lcd_ac_bias_en */
		};
	};

     
   // This enables the PRU and assigns the GPIO pins to it for use in EGP mode.  
   fragment@3 {  
    target = <&ocp>;  
    __overlay__ { 
	gpio_helper {
		//compatible = "gpio-of-helper"; 
	      status = "okay";  
	      pinctrl-names = "default";  
	      pinctrl-0 = <&gpio_pins>; 
	      }; 
    };  
   };  
   
   // This enables the PRU and assigns the GPIO pins to it for use in EGP mode.  
   fragment@4 {  
    target = <&pruss>;  
    __overlay__ {  
      status = "okay";  
      pinctrl-names = "default";  
      pinctrl-0 = <&example_pins>;  
    };  
   }; 
};   
 
